.home{
    height: 100vh;
    background-image:linear-gradient( rgba(122, 7, 7, 0.5),rgba(0,0,0,.8)),url('https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZ3JhbW1pbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80');
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
.home h1{
    color: white;
}